@import "./base.css";

.main-wrapper {
	display: flex;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

@media (min-width: 800px) {
	.main-wrapper {
		width: 80%;
	}
}
@media (min-width: 1024px) {
}
